/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Satoshi", sans-serif;
}

a {
  text-decoration-line: none;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  z-index: 3;
  position: relative;
}

nav a {
  color: #fff;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #0560fc;
}

/* Topbar */
.top-bar {
  width: 100%;
  min-height: 6vh;
  background: url("./images/top-bar-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-position: center right;
}

.top-bar-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top-bar-notice p {
  font-weight: 600;
}

.hot-offer-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.16);
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  gap: 0.25rem;
}

.topbar-cta {
  color: #fff;
  border-bottom: 0.0625rem solid #fff;
}

.close-notice-btn {
  cursor: pointer;
}

/* Navbar */
.navbar {
  width: 100%;
  background: #000;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5rem);
  height: 6rem;
}

.navbar-wrapper {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  transition: all 0.2s ease;
}

.navbar-cta {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2.125rem;
}

.navbar-cta-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-cta-links .hr {
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.12);
  height: 1.5rem;
}

#burger-menu,
#collapsed-navbar {
  display: none;
}

.work-email-form {
  display: flex;
  height: 2.5rem;
  align-items: center;
  padding: 0px 4px 0px 12px;
  gap: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  border-radius: 0.5rem;
}

.work-email-form label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.work-email-form input {
  background: transparent;
  border: none;
  color: #fff;
  height: 100%;
}

.work-email-form input:focus {
  outline-style: dashed;
  outline-color: #fff;
}

.work-email-form button {
  color: #fff;
  background: #0560fc;
  border: 1px solid #0560fc;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.375rem;
  padding: 0 0.875rem;
  width: 6.4375rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.work-email-form button:hover {
  background: transparent;
}

/*Breadcrumbs*/
.breadcrumbs {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  background: rgba(6, 5, 17, 0.12);
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

.breadcrumbs-wrapper {
  width: 84%;
  margin: auto;
  overflow: visible;
}

.breadcrumbs-wrapper a {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumbs-wrapper img {
  transition: all 0.3s ease;
}

.breadcrumbs-wrapper a:hover img {
  transform: translateX(-0.5rem);
}

.hero {
  width: 100%;
  min-height: 82vh;
  background-color: #000;
  margin-top: -3.5rem;
  padding-top: 3.5rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.hero-wrapper {
  width: 90%;
  display: flex;
  position: relative;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 24px;
}

.left-neon,
.right-neon {
  position: absolute;
  bottom: 0;
  width: 60%;
  background-repeat: no-repeat;
}

.left-neon {
  left: -12%;
  top: -20%;
  width: 65%;
  background: #000 url("./images/neon-left.png");
  background-size: 120%;
}

.right-neon {
  top: -10%;
  right: -10%;
  background: #000 url("./images/neon-right.png");
  background-size: 100%;
}

.hero h1 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
  position: relative;
}

.hero p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  width: 70%;
  align-self: flex-start;
  color: #b0b0b0;
}

.author-details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.author-details span {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.author-details li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.by-auther {
  color: #b0b0b0;
}

.publish-time {
  border-bottom: 2px solid #12b76a;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 10%;
  position: relative;
  gap: 24px;
}

.social-links li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}

@media screen and (max-width: 1220px) {
  .navbar-wrapper,
  .breadcrumbs-wrapper {
    width: 95%;
    gap: 1rem;
  }
}

@media screen and (max-width: 1070px) {
  .nav-links {
    display: none;
  }

  #burger-menu {
    display: block;
    filter: brightness(0) invert(1);
  }

  #collapsed-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    top: 0;
    left: 100%;
    z-index: 15;
    padding-top: 2rem;
    transition: all 0.3s ease;
    gap: 3rem;
  }

  #close-mobile-nav {
    filter: invert(100%);
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .hero h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 780px) {
  .top-bar-notice {
    flex-direction: column;
    gap: 0;
    padding: 0.5rem;
  }

  .top-bar-notice p {
    text-align: center;
  }

  .close-notice-btn {
    position: absolute;
    right: 2rem;
    top: 0.8rem;
  }

  .navbar-cta {
    display: none;
  }

  .mobile-nav-links a {
    color: #000;
  }

  .navbar-cta-links a {
    color: #000;
  }

  .work-email-form img {
    filter: invert(1);
  }

  .work-email-form {
    background: rgb(227, 227, 227);
  }

  .hero-wrapper {
    flex-direction: column;
    width: 95%;
  }

  .social-links {
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    width: 100%;
  }

  .left-neon,
  .right-neon {
    background-repeat: no-repeat;
    top: 25%;
  }
}

@media screen and (max-width: 490px) {
  #collapsed-navbar {
    padding: 2rem 1rem 1rem 1rem;
  }

  .mobile-nav-links,
  .navbar-cta {
    flex-direction: column;
    margin: 0;
  }

  .hero-text-wrapper {
    width: 100%;
  }

  .hero h1 {
    font-size: 22px;
  }

  .hero-wrapper {
    margin: auto;
    width: 90%;
  }

  .social-links {
    width: 90%;
    margin: 0;
  }

  .right-neon {
    display: none;
  }

  .left-neon {
    width: 100%;
    opacity: 0.8;
  }
}
